<?js
    var self = this;
    var isGlobalPage;

    docs.forEach(function(doc, i) {
?>

<?js
    // we only need to check this once
    if (typeof isGlobalPage === 'undefined') {
        isGlobalPage = (doc.kind === 'globalobj');
    }
?>
<?js if (doc.kind === 'mainpage' || (doc.kind === 'package')) { ?>
    <?js= self.partial('mainpage.tmpl', doc) ?>
<?js } else if (doc.kind === 'source') { ?>
    <?js= self.partial('source.tmpl', doc) ?>
<?js } else { ?>

<section>

<header class="wysiwyg">
    <?js if (!doc.longname || doc.kind !== 'module') { ?>
        <?js if (doc.name) { ?>
            <?js var idName = doc.name.replace(/[\/|\\|\.]/g, '_'); ?>
            <h2 class="anchor-header" id="<?js= idName ?>"><a href="#<?js= idName ?>" class="anchor-header__link">#</a>
        <?js } else { ?>
            <h2>
        <?js } ?>
        <?js if (doc.ancestors && doc.ancestors.length) { ?>
            <span class="ancestors"><?js= doc.ancestors.join('') ?></span><?js
         } 
        ?><?js= doc.name ?><?js
         if (doc.variation) { ?>
            <sup class="variation"><?js= doc.variation ?></sup>
        <?js } ?></h2>
        <?js if (doc.classdesc) { ?>
            <div class="class-description"><?js= doc.classdesc ?></div>
        <?js } ?>
    <?js } else if (doc.kind === 'module' && doc.modules) { ?>
        <?js doc.modules.forEach(function(module) { ?>
            <?js if (module.classdesc) { ?>
                <div class="class-description"><?js= module.classdesc ?></div>
            <?js } ?>
        <?js }) ?>
    <?js } ?>
</header>

<article class="wysiwyg">
    <div class="container-overview">
    <?js if (doc.kind === 'module' && doc.modules) { ?>
        <?js if (doc.description) { ?>
            <div class="description"><?js= doc.description ?></div>
        <?js } ?>

        <?js doc.modules.forEach(function(module) { ?>
            <?js= self.partial('method.tmpl', module) ?>
        <?js }) ?>
    <?js } else if (doc.kind === 'class') { ?>
        <?js= self.partial('method.tmpl', doc) ?>
    <?js } else { ?>
        <?js if (doc.description) { ?>
            <div class="description"><?js= doc.description ?></div>
        <?js } ?>

        <?js= self.partial('details.tmpl', doc) ?>

        <?js if (doc.examples && doc.examples.length) { ?>
            <h3 class="anchor-header" id="Examples">
            <a href="#Examples" class="anchor-header__link">#</a>
            Example<?js= doc.examples.length > 1? 's':'' ?></h3>
            <?js= self.partial('examples.tmpl', doc.examples) ?>
        <?js } ?>
    <?js } ?>
    </div>

    <?js if (doc.augments && doc.augments.length) { ?>
        <h3 class="subsection-title anchor-header" id="Extends">
            <a href="#Extends" class="anchor-header__link">#</a>
            Extends</h3>

        <?js= self.partial('augments.tmpl', doc) ?>
    <?js } ?>

    <?js if (doc.requires && doc.requires.length) { ?>
        <h3 id="Requires" class="subsection-title anchor-header">
            <a href="#Requires" class="anchor-header__link">#</a>
            Requires</h3>

        <ul><?js doc.requires.forEach(function(r) { ?>
            <?js
                var reqLinkRegExp = /^\{@link\s(\[.+\])(\s|\t)*http/;
                r = r.replace(reqLinkRegExp, function(str, g1) {
                    return g1 + '{@link http';
                });
            ?>
            <li><?js= self.linkto(r, r) ?></li>
        <?js }); ?></ul>
        <br>
        <hr>
    <?js } ?>

    <?js if (doc.inludedIn && doc.inludedIn.length) { ?>
    <h3 id="Included_in" class="subsection-title anchor-header">
        <a href="#Included_in" class="anchor-header__link">#</a>
        Included in</h3>

    <ul><?js doc.inludedIn.forEach(function(i) { ?>
        <li><?js= self.linkto(i, i) ?></li>
        <?js }); ?></ul>
    <br>
    <hr>
    <?js } ?>

    <?js
        var classes = self.find({kind: 'class', memberof: doc.longname});
        if (!isGlobalPage && classes && classes.length) {
    ?>
        <h3 class="subsection-title anchor-header" id="Classes">
            <a href="#Classes" class="anchor-header__link">#</a>
            Classes</h3>

        <dl><?js classes.forEach(function(c) { ?>
            <dt><?js= self.linkto(c.longname, c.name) ?></dt>
            <dd><?js if (c.summary) { ?><?js= c.summary ?><?js } ?></dd>
        <?js }); ?></dl>
    <?js } ?>

     <?js
        var mixins = self.find({kind: 'mixin', memberof: doc.longname});
        if (!isGlobalPage && mixins && mixins.length) {
    ?>
        <h3 class="subsection-title anchor-header" id="Mixins">
            <a href="#Mixins" class="anchor-header__link">#</a>
            Mixins</h3>

        <dl><?js mixins.forEach(function(m) { ?>
            <dt><?js= self.linkto(m.longname, m.name) ?></dt>
            <dd><?js if (m.summary) { ?><?js= m.summary ?><?js } ?></dd>
        <?js }); ?></dl>
    <?js } ?>

    <?js
        var namespaces = self.find({kind: 'namespace', memberof: doc.longname});
        if (!isGlobalPage && namespaces && namespaces.length) {
    ?>
        <h3 class="subsection-title anchor-header" id="Namespaces">
            <a href="#Namespaces" class="anchor-header__link">#</a>
            Namespaces</h3>

        <dl><?js namespaces.forEach(function(n) { ?>
            <dt><?js= self.linkto(n.longname, n.name) ?></dt>
            <dd><?js if (n.summary) { ?><?js= n.summary ?><?js } ?></dd>
        <?js }); ?></dl>
    <?js } ?>

    <?js
        var members = self.find({kind: 'member', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});

        // symbols that are assigned to module.exports are not globals, even though they're not a memberof anything
        if (isGlobalPage && members && members.length && members.forEach) {
            members = members.filter(function(m) {
                return m.longname && m.longname.indexOf('module:') !== 0;
            });
        }
        if (members && members.length && members.forEach) {
    ?>
        <h3 class="subsection-title anchor-header" id="Members">
            <a href="#Members" class="anchor-header__link">#</a>
            Members</h3>

        <?js members.forEach(function(p) { ?>
            <?js= self.partial('members.tmpl', p) ?>
        <?js }); ?>
    <?js } ?>

    <?js
        var methods = self.find({kind: 'function', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});
        if (methods && methods.length && methods.forEach) {
    ?>
        <h3 id="Methods" class="subsection-title anchor-header">
            <a href="#Methods" class="anchor-header__link">#</a>
            Methods</h3>

        <?js methods.forEach(function(m) { ?>
            <?js= self.partial('method.tmpl', m) ?>
        <?js }); ?>
    <?js } ?>

    <?js
        var typedefs = self.find({kind: 'typedef', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});
        if (typedefs && typedefs.length && typedefs.forEach) {
    ?>
        <h3 class="subsection-title anchor-header" id="Type_Definitions">
            <a href="#Type_Definitions" class="anchor-header__link">#</a>
            Type Definitions</h3>

        <?js typedefs.forEach(function(e) {
                if (e.signature) {
            ?>
                <?js= self.partial('method.tmpl', e) ?>
            <?js
                }
                else {
            ?>
                <?js= self.partial('members.tmpl', e) ?>
            <?js
                }
            }); ?>
    <?js } ?>

    <?js
        var events = self.find({kind: 'event', memberof: isGlobalPage ? {isUndefined: true} : doc.longname});
        if (events && events.length && events.forEach) {
    ?>
        <h3 class="subsection-title anchor-header" id="Events">
            <a href="#Events" class="anchor-header__link">#</a>
            Events</h3>

        <?js events.forEach(function(e) { ?>
            <?js= self.partial('method.tmpl', e) ?>
        <?js }); ?>
    <?js } ?>
</article>

</section>
<?js } ?>

<?js }); ?>
